@import "tailwindcss";

:root {
  font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  color-scheme: light;
}

body {
  margin: 0;
  background-color: #0f0f10;
}

.hero-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: saturate(1.05) contrast(1.1);
}